* {
  background-color: #eff3ec;
  box-sizing: border-box;
  
}

.container {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #111;
  justify-content: center;
}
.App {
  display: grid;
  justify-content: center;
  grid-template-columns: 75px 75px 75px 75px ;
  grid-template-rows: 80px 80px 80px 80px 80px; 
  column-gap: 10px;
  grid-gap: 15px;
  font-size: 40px;
  padding-top: 5px;
}

header {
  text-align: center;
  font-size: 2rem;
}

.clear-btn {
  width: 210%;
  margin-left: 1px;
}

.display {
 padding: 20px 10px;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #111;
  color: #333;
  text-align: right;
  font-size: 40px;
  background-color: #000;
  color: #fff;
}

.number-btns {
  background-color: grey;
  color: white;
}

.oper-btn {
  background-color: #eeb957;
}

@media screen and (max-width: 500px ) {
  .container {
    width: 350px;
  }

  header {
font-size: 1rem;
  }
}

@media screen and (max-width: 400px ) {
  .container {
    width: 320px;
  }

  header {
font-size: 1rem;
  }

  .App {
    grid-template-columns: 70px 70px 70px 70px ;
  grid-template-rows: 70px 70px 70px 70px 70px; 
  column-gap: 7px;
  grid-gap: 7px;
  padding-bottom: 5px;
  }
}